html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #81c9fa;
}

.reloj {
    position: relative;
    width: 300px;
    height: 300px;
    background: #003785; /*#1465bb; opcional*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 30px 30px 30px -10px #2196f3, 
    inset 15px 15px 10px #2196f3,
    -15px -15px 35px #bad5f3,
    inset -1px -1px 10px #bad5f3;
}

.reloj::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background:  whitesmoke;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: 0 0 0 1px #003785,
    0 0 0 3px #1465bb,
    0 0 5px 5px #2196f3;
}

.reloj .numeros {
    position: absolute;
    inset: 35px;
    background-color: #2196f3;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgb(247, 247, 247),
    inset 5px 5px 5px rgb(237, 225, 225),
    -6px -6px 10px #81c9fa;
}

.reloj .numeros span {
    position: absolute;
    inset: 5px;
    text-align: center;
    color: #81c9fa;
    font-size: 1.30rem;
    transform: rotate(calc(90deg * var(--i)));
}

.reloj .numeros span b {
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-90deg * var(--i)));
    
}

.reloj .numeros::before {
    content: '';
    position: absolute;
    inset: 34px;
    background: linear-gradient( #003785, #81c9fa,  #2ef8a0 );
    border-radius: 50%;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

.reloj .numeros::after {
    content: '';
    position: absolute;
    inset: 38px;
    background: #edeae7;
    border-radius: 50%;
}

.reloj .numeros .circle {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.reloj .numeros .circle i {
    position: absolute;
    width: 3px;
    height: 50%;
    background: #2597f4;;
    transform-origin: bottom;
    transform: scaleY(0,55);
} 

.reloj .numeros .circle#hr i {
    transform: scaleY(0.3);
    width: 4px;
}

.reloj .numeros .circle#mn i {
    transform: scaleY(0.45);
}

.reloj .numeros .circle#sc i {
    transform: scaleY(0.55);
    width: 2px;
    background:  #2ef8a0 ;
    box-shadow: 0 30px 0  #1cfb9b ;
}